### IMDB 2024 Data Scraping and Visualizations

In [1]:
#url = "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31"

In [26]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains as AC
import time

In [4]:
#Adventure link - https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31
#XPATH - //*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul

In [2]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
get=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

In [23]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
time.sleep(5)
titles=[]
ratings=[]
votings=[]
durations=[]
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

for movies in movie_name: 
   
        title=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
        rating=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
        voting=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
        duration=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text
        titles.append(title)
        ratings.append(rating)
        votings.append(voting)
        durations.append(duration)
    



AD_Movies=pd.DataFrame({
    "Title":titles,
    "Rating":ratings,
    "Voting":votings,
    "Duration":durations
})

AD_Movies["Genre"]="Adventure"
AD_Movies

,Title,Rating,Voting,Duration,Genre
0,1. Gladiator II,6.6,(190K),2h 28m,Adventure
1,2. Sonic the Hedgehog 3,7.0,(40K),1h 50m,Adventure
2,3. Mufasa: The Lion King,6.7,(36K),1h 58m,Adventure
3,4. Moana 2,6.9,(73K),1h 40m,Adventure
4,5. Flow,7.9,(28K),1h 25m,Adventure
5,6. Dune: Part Two,8.5,(593K),2h 46m,Adventure
6,7. Deadpool & Wolverine,7.6,(462K),2h 8m,Adventure
7,8. Civil War,7.0,(224K),1h 49m,Adventure
8,9. Venom: The Last Dance,6.0,(91K),1h 50m,Adventure
9,10. Furiosa: A Mad Max Saga,7.5,(266K),2h 28m,Adventure
10,11. The Count of Monte-Cristo,7.6,(28K),2h 58m,Adventure
11,12. Twisters,6.5,(153K),2h 2m,Adventure
12,13. Paddington in Peru,6.8,(7K),1h 46m,Adventure
13,14. The Return,6.2,(6.1K),1h 56m,Adventure
14,15. Borderlands,4.6,(41K),1h 41m,Adventure
15,16. Inside Out 2,7.6,(203K),1h 36m,Adventure
16,17. Wallace & Gromit: Vengeance Most Fowl,7.6,(27K),1h 22m,Adventure
17,18. The Lord of the Rings: The War of the Rohi...,6.4,(22K),2h 14m,Adventure
18,19. Bad Boys: Ride or Die,6.5,(94K),1h 55m,Adventure
19,20. Red One,6.3,(132K),2h 3m,Adventure
20,21. Kingdom of the Planet of the Apes,6.9,(145K),2h 25m,Adventure
21,22. Love Lies Bleeding,6.6,(53K),1h 44m,Adventure
22,23. Transformers One,7.6,(44K),1h 44m,Adventure
23,24. Despicable Me 4,6.2,(58K),1h 34m,Adventure
24,25. Godzilla x Kong: The New Empire,6.1,(117K),1h 55m,Adventure
25,26. Madame Web,4.0,(97K),1h 56m,Adventure
26,27. Damsel,6.1,(106K),1h 50m,Adventure
27,28. Ghostbusters: Frozen Empire,6.1,(90K),1h 55m,Adventure
28,29. Solo Leveling: ReAwakening,8.4,(3.2K),2h 1m,Adventure
29,30. Kung Fu Panda 4,6.3,(65K),1h 34m,Adventure
30,31. Uglies,4.7,(31K),1h 40m,Adventure
31,32. Spaceman,5.7,(42K),1h 47m,Adventure
32,33. Survive,4.6,(1.7K),1h 30m,Adventure
33,34. Spellbound,5.7,(5.8K),1h 49m,Adventure
34,35. The Day the Earth Blew Up: A Looney Tunes ...,7.0,(461),1h 31m,Adventure
35,36. Atlas,5.6,(54K),1h 58m,Adventure
36,37. The Garfield Movie,5.7,(23K),1h 41m,Adventure
37,38. Something in the Water,4.1,(4.2K),1h 26m,Adventure
38,39. Harold and the Purple Crayon,5.7,(7.3K),1h 30m,Adventure
39,40. Kalki 2898 AD,7.0,(64K),3h,Adventure
40,41. Monster Summer,5.7,(3.1K),1h 37m,Adventure
41,42. Toutes pour une,1.3,(510),1h 37m,Adventure
42,43. Descendants: The Rise of Red,4.7,(6.7K),1h 31m,Adventure
43,44. Night of the Zoopocalypse,7.5,(88),1h 31m,Adventure
44,45. Rebel Moon - Part Two: The Scargiver,5.3,(58K),2h 2m,Adventure
45,46. Arthur the King,7.0,(32K),1h 47m,Adventure
46,47. Lost on a Mountain in Maine,6.2,(779),1h 38m,Adventure
47,48. Thangalaan,6.6,(6.3K),2h 36m,Adventure
48,49. No Way Up,4.6,(9.9K),1h 30m,Adventure
49,50. My Penguin Friend,6.7,(4.3K),1h 37m,Adventure

In [32]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
time.sleep(5)
titles=[]
ratings=[]
votings=[]
durations=[]
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

for movies in movie_name: 
   
        title=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
        rating=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
        voting=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
        duration=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text
        titles.append(title)
        ratings.append(rating)
        votings.append(voting)
        durations.append(duration)
    
def more_list():
    try:
        more_button=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button/span/span')
        AC(driver).move_to_element(more_button).perform()
        more_button.click()
        time.sleep(5)
        return True
    except:
        return False

while more_list():
    print("Click for more")

print("NO more")

Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
NO more

In [33]:
AD_Movies=pd.DataFrame({
    "Title":titles,
    "Rating":ratings,
    "Voting":votings,
    "Duration":durations
})

In [43]:
movie = driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul')

In [45]:
len(movie_name)

50

In [48]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
time.sleep(5)
titles=[]
ratings=[]
votings=[]
durations=[]
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

for movies in movie_name: 
   
        title=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
        rating=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
        voting=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
        duration=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text
        titles.append(title)
        ratings.append(rating)
        votings.append(voting)
        durations.append(duration)
    
def more_list():
    try:
        more_button=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button/span/span')
        AC(driver).move_to_element(more_button).perform()
        more_button.click()
        time.sleep(5)
        return True
    except:
        return False

while more_list():
    print("Click for more")

print("NO more")

Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
NO more

In [50]:
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

In [51]:
len(movie_name)

578

In [71]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
time.sleep(5)
titles=[]
ratings=[]
votings=[]
durations=[]
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

for movies in movie_name: 
   
        title=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
        rating=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
        voting=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
        duration=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text
        titles.append(title)
        ratings.append(rating)
        votings.append(voting)
        durations.append(duration)
    
def more_list():
    try:
        more_button=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button/span/span')
        AC(driver).move_to_element(more_button).perform()
        more_button.click()
        time.sleep(5)
        return True
    except:
        return False

while more_list():
    print("Click for more")

print("NO more")


AD_Movies=pd.DataFrame({
    "Title":titles,
    "Rating":ratings,
    "Voting":votings,
    "Duration":durations
})

AD_Movies

Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
NO more

                                                Title Rating   Voting Duration
0                                     1. Gladiator II    6.6   (190K)   2h 28m
1                             2. Sonic the Hedgehog 3    7.0    (40K)   1h 50m
2                            3. Mufasa: The Lion King    6.7    (36K)   1h 58m
3                                          4. Moana 2    6.9    (73K)   1h 40m
4                                             5. Flow    7.9    (28K)   1h 25m
5                                   6. Dune: Part Two    8.5   (593K)   2h 46m
6                             7. Deadpool & Wolverine    7.6   (462K)    2h 8m
7                                        8. Civil War    7.0   (224K)   1h 49m
8                            9. Venom: The Last Dance    6.0    (91K)   1h 50m
9                         10. Furiosa: A Mad Max Saga    7.5   (266K)   2h 28m
10                      11. The Count of Monte-Cristo    7.6    (28K)   2h 58m
11                                       12. Twisters    6.5   (153K)    2h 2m
12                             13. Paddington in Peru    6.8     (7K)   1h 46m
13                                     14. The Return    6.2   (6.1K)   1h 56m
14                                    15. Borderlands    4.6    (41K)   1h 41m
15                                   16. Inside Out 2    7.6   (203K)   1h 36m
16          17. Wallace & Gromit: Vengeance Most Fowl    7.6    (27K)   1h 22m
17  18. The Lord of the Rings: The War of the Rohi...    6.4    (22K)   2h 14m
18                          19. Bad Boys: Ride or Die    6.5    (94K)   1h 55m
19                                        20. Red One    6.3   (132K)    2h 3m
20              21. Kingdom of the Planet of the Apes    6.9   (145K)   2h 25m
21                             22. Love Lies Bleeding    6.6    (53K)   1h 44m
22                               23. Transformers One    7.6    (44K)   1h 44m
23                                24. Despicable Me 4    6.2    (58K)   1h 34m
24                25. Godzilla x Kong: The New Empire    6.1   (117K)   1h 55m
25                                     26. Madame Web    4.0    (97K)   1h 56m
26                                         27. Damsel    6.1   (106K)   1h 50m
27                    28. Ghostbusters: Frozen Empire    6.1    (90K)   1h 55m
28                     29. Solo Leveling: ReAwakening    8.4   (3.2K)    2h 1m
29                                30. Kung Fu Panda 4    6.3    (65K)   1h 34m
30                                         31. Uglies    4.7    (31K)   1h 40m
31                                       32. Spaceman    5.7    (42K)   1h 47m
32                                        33. Survive    4.6   (1.7K)   1h 30m
33                                     34. Spellbound    5.7   (5.8K)   1h 49m
34  35. The Day the Earth Blew Up: A Looney Tunes ...    7.0    (461)   1h 31m
35                                          36. Atlas    5.6    (54K)   1h 58m
36                             37. The Garfield Movie    5.7    (23K)   1h 41m
37                         38. Something in the Water    4.1   (4.2K)   1h 26m
38                   39. Harold and the Purple Crayon    5.7   (7.3K)   1h 30m
39                                  40. Kalki 2898 AD    7.0    (64K)       3h
40                                 41. Monster Summer    5.7   (3.1K)   1h 37m
41                                42. Toutes pour une    1.3    (510)   1h 37m
42                   43. Descendants: The Rise of Red    4.7   (6.7K)   1h 31m
43                      44. Night of the Zoopocalypse    7.5     (88)   1h 31m
44           45. Rebel Moon - Part Two: The Scargiver    5.3    (58K)    2h 2m
45                                46. Arthur the King    7.0    (32K)   1h 47m
46                    47. Lost on a Mountain in Maine    6.2    (779)   1h 38m
47                                     48. Thangalaan    6.6   (6.3K)   2h 36m
48                                      49. No Way Up    4.6   (9.9K)   1h 30m
49                              50. My Penguin Friend    6.7   (4.3K)   1h 37m

## Project Starts:

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains as AC
import time

In [2]:
driver=webdriver.Edge()
driver.get("https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31")
time.sleep(5)
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

def more_list():
    try:
        more_button=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button/span/span')
        AC(driver).move_to_element(more_button).perform()
        more_button.click()
        time.sleep(5)
        return True
    except:
        return False

while more_list():
    print("Click for more")

print("NO more")

Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
Click for more
NO more

In [3]:
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')

In [4]:
len(movie_name)

583

In [5]:
time.sleep(3)
titles=[]
ratings=[]
votings=[]
durations=[]
movie_name=driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')
for movies in movie_name: 
    try:  
        title=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
        rating=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text
        voting=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
        duration=movies.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text
        titles.append(title)
        ratings.append(rating)
        votings.append(voting)
        durations.append(duration)
    except:
        print("Error")
        continue

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [6]:
AD_Movies=pd.DataFrame({
    "Title":titles,
    "Rating":ratings,
    "Voting":votings,
    "Duration":durations
})

AD_Movies

                                  Title Rating   Voting Duration
0                       1. Gladiator II    6.6   (196K)   2h 28m
1               2. Sonic the Hedgehog 3    7.0    (43K)   1h 50m
2                            3. Moana 2    6.8    (76K)   1h 40m
3              4. Mufasa: The Lion King    6.7    (38K)   1h 58m
4                               5. Flow    7.9    (32K)   1h 25m
..                                  ...    ...      ...      ...
353      515. PW V: Tears of the Fallen    8.2     (11)       1h
354                      517. Dandelion    8.9      (9)   1h 35m
355                  562. The Blinkless    7.8     (12)      59m
356  569. Beyaz Zenciler: Yapim Asamasi    8.6      (5)      55m
357                        573. Lajjpal    9.0      (8)   4h 12m

[358 rows x 4 columns]

In [7]:
AD_Movies["Genre"]="Adventure"
AD_Movies

                                  Title Rating   Voting Duration      Genre
0                       1. Gladiator II    6.6   (196K)   2h 28m  Adventure
1               2. Sonic the Hedgehog 3    7.0    (43K)   1h 50m  Adventure
2                            3. Moana 2    6.8    (76K)   1h 40m  Adventure
3              4. Mufasa: The Lion King    6.7    (38K)   1h 58m  Adventure
4                               5. Flow    7.9    (32K)   1h 25m  Adventure
..                                  ...    ...      ...      ...        ...
353      515. PW V: Tears of the Fallen    8.2     (11)       1h  Adventure
354                      517. Dandelion    8.9      (9)   1h 35m  Adventure
355                  562. The Blinkless    7.8     (12)      59m  Adventure
356  569. Beyaz Zenciler: Yapim Asamasi    8.6      (5)      55m  Adventure
357                        573. Lajjpal    9.0      (8)   4h 12m  Adventure

[358 rows x 5 columns]

In [8]:
# Converting the Voting Value to int.
def convert_voting(value):
    value = value.strip().replace('(', '').replace(')', '')  # Remove spaces and parentheses
    if 'K' in value:
        return int(float(value.replace('K', '')) * 1000)  # Convert 'K' to a number
    elif value.isdigit():  # Check if it's a pure number
        return int(value)
    else:
        return None

AD_Movies["Voting"]=AD_Movies["Voting"].apply(convert_voting)

In [9]:
def convert_to_sql_time(value):
    value = value.lower().strip()  
    if 'h' in value or 'm' in value:
        value = value.replace('h', '').replace('m', '')  
        parts = value.split() 
        hours = int(parts[0]) if len(parts) > 0 and parts[0].isdigit() else 0
        minutes = int(parts[1]) if len(parts) > 1 and parts[1].isdigit() else 0
        return f"{hours:02d}:{minutes:02d}:00"  
    return None

AD_Movies["Duration"]= AD_Movies["Duration"].apply(convert_to_sql_time)

In [10]:
AD_Movies.to_csv("project_adv.csv",index=False)